* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-block: 2rem;
}
.players-name-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.player-input {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.player-input__input {
  font-size: inherit;
  margin-left: 0.2rem;
  padding: 0.2rem;
}

.start-btn {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 15px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 2rem 0;
  font-size: 2rem;
}

.gameboard__cell {
  font-size: 2rem;
  background-color: rgb(221, 252, 248);
  padding: 2rem;
  border: 1px solid aqua;
  border-radius: 25%;
  cursor: pointer;
}

.gameboard__cell:hover {
  background-color: aqua;
}
